.SendSMS-msg,
.SendSMS-no {
  color: $strong-blue;
  font-size: $h1-font-size;
}

.Partners {
  h3 {
    font-size: $h1-font-size;
  }
}

.PartnersList-itemWrap {
  background: #fff;
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.PartnersList-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SendSMS {
  border: 2px dashed $green;
  padding: 20px;
}

.Disclaimer {
  margin: 80px 0;

  @include respond-above(md) {
    max-width: 50%;
  }
}

.BackToMap,
.ProjectModal-nav {
  font-size: 18px;

  @include respond-below(lg){
    font-size: 15px;
  }

  &:hover {
    text-decoration: none;
  }
}

.modal-route {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  overflow-y: scroll;

  @include respond-above(lg){
    box-sizing: content-box;
  }
}

.modal-content {
  position: absolute;
  width: 100%;
  max-width: 1024px;
  transform: translate(-50%, 0);
  border-radius: 0;
}

.ProjectModal-header {
  @include respond-above(md) {
    display: flex;
    justify-items: center;
    justify-content: space-between;
  }
}

.ProjectModal-visual {
  height: 0;
  padding-bottom: 75%;
  position: relative;

  @include respond-above(md) {
    padding-bottom: 100%;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
  }
}

.HowWeWork {
  border: 2px dashed $primary;
  padding: 10px 20px;
  
  @include respond-above(md) {
    height: 100%;
    padding: 20px 40px;
  }
}
