.SendSMS-msg,
.SendSMS-no {
  color: $strong-blue;
  font-size: $h1-font-size;
}

.Partners {
  h3 {
    font-size: $h1-font-size;
  }
}

.PartnersList-itemWrap {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.PartnersList-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

