.icon {
  width: 24px;
  height: 24px;
  shape-rendering: auto;
  transition: transform 0.15s ease-in-out;

  use {
    fill: currentColor;
  }
}

.icon-md {
  width: 32px;
  height: 32px;
}

.icon-lg {
  width: 48px;
  height: 48px;
}