body {
  background: url(../assets/images/bg.png) top center no-repeat;
}

#app {
  position: relative;
}

.container-fluid {
  max-width: 1440px !important;
}

.Info {
  @include respond-above(lg) {
    max-height: 700px;
  }
}

.Header-wrap {
  margin-bottom: 80px;
  padding-top: 80px;
}

p {
  font-size: 18px;
}

