#app {
  position: relative;
}

.Info {
  @include respond-above(lg) {
    position: absolute;
    z-index: 10;
  }

  p {
    font-size: 14px;
  }
}

.BackToMapLink {
  > a {
    text-decoration: none;
  }
}
