.MapContainer-wrap {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 70.3266788%; // 1550 / 2204 - map image size ratio
}

.MapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.MapButton-wrap {
  position: absolute;
}

.MapButton {
  border-width: 3px;
  padding: 3px 8px;
  max-width: 125px;

  @include respond-above(sm) {
    border-width: 5px;
    padding: 5px 10px;
    max-width: 150px;
  }
}

.MapButton-icon {
  width: 24px;
  height: 24px;

  @include respond-above(sm) {
    width: 32px;
    height: 32px;
  }
}

.MapButton-label {
  line-height: 14px;
}

.Highway {
  position: relative;
}

.HighwayButton {
  border-width: 2px;
  padding: 3px 15px;
  max-width: 180px;
  position: absolute;
}

.SegmentButton {
  border-top: 1px solid $light-gray;
  padding: 20px 24px;

  &:hover {
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 1px solid $light-gray;
  }
}

.SegmentButton-icon {
  width: 40px;
}
