/***********************************************
******************** Colors ********************
***********************************************/

$primary:       #4267B2;
$secondary:     #3A54A4;
$success:       #65CC90;
$warning:       #FFB61D;

$theme-colors: () !default;
$theme-colors: map-merge((
        "purple":     #7937C4,
        "red":        #F90000,
        "blue":       #00B4CC,
        "yellow":     #FFA506,
        "green":      #1B771B,
    ),
$theme-colors);

/***********************************************
******************** Fonts *********************
***********************************************/

/** Fonts path. */
// $titillium-web-font-path: "../assets/fonts/titillium-web/";

/** Font family. */
// $font-family-base:       'TitilliumWeb-Regular', sans-serif;

/** Text small. */
$small-font-size: 11px;

/** Heading font size. */
$h1-font-size: 34px;
$h2-font-size: 24px;
$h3-font-size: 20px;

/** Heading font family. */
// $headings-font-family: $font-family-sans-serif;

/** Heading font weight. */
$headings-font-weight: bold;

/** Displayes font variable. */
// $display1-size:      25px;
// $display1-weight:    400;
// $display2-size:      20px;
// $display2-weight:    400;
// $display3-size:   24px;
// $display3-weight: 400;
$display4-size:      13px;
$display4-weight:    400;

/** Font weight */
$font-weight-lighter: 300;
$font-weight-light:   600;
$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-bolder:  800;

/***********************************************
************** Grid breakpoints. ***************
***********************************************/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);

/***********************************************
************** Responsive text *****************
***********************************************/

$enable-responsive-font-sizes: true;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
