/***********************************************
******************** Colors ********************
***********************************************/

$primary:       #404366;
$secondary:     #3A54A4;
$success:       #65CC90;
$warning:       #FFB61D;
$dark:          #1E1E1E;
$black:         #1E1E1E;
$light-gray:    #E7EAEE;
$gray:          #C8CEDB;
$strong-blue:   #0000ff;

$theme-colors: () !default;
$theme-colors: map-merge((
  "purple":      #7937C4,
  "red":         #F90000,
  "blue":        #00B4CC,
  "yellow":      #FFA506,
  "green":       #1B771B,
  "strong-blue": #0000FF,
  "black":       #000000,
  "gray":        $gray
), $theme-colors);

/***********************************************
******************** Fonts *********************
***********************************************/

/** Fonts path. */
// $titillium-web-font-path: "../assets/fonts/titillium-web/";

/** Font family. */
$font-family-base: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif;

/** Heading font size. */
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 24px;

/** Heading font family. */
// $headings-font-family: $font-family-sans-serif;

/** Heading font weight. */
$headings-font-weight: bold;

/** Displayes font variable. */
$display1-size:      48px;
$display1-weight:    600;
$display2-size:      24px;
$display2-weight:    600;
// $display3-size:   24px;
// $display3-weight: 400;
$display4-size:      13px;
$display4-weight:    400;

/** Font weight */
$font-weight-lighter: 300;
$font-weight-light:   600;
$font-weight-normal:  400;
$font-weight-bold:    700;
$font-weight-bolder:  800;

/***********************************************
************** Grid breakpoints. ***************
***********************************************/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);

$grid-gutter-width: 30px;

$z-index-base: 2020;
$z-index-map: 2021;
$z-index-highway: 2022;
$z-index-buttons: 2023;
$z-index-active: 2024;
$z-index-overlay: 3000;
$z-index-modal: 3001;

// TODO: only import what we use or just remove it completly and use tailwind (new code4 site uses tailwind)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
